{
  "extends": [
    "airbnb/base",
    "react-app"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "rules": {
    "no-plusplus": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "no-class-assign": "off",
    "no-shadow": "off",
    "max-len": [
      "error",
      500
    ],
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "double"
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-func-assign": "off",
    "consistent-return": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-nested-ternary": "off",
    "prefer-const": "off",
    "camelcase": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-param-reassign": "off",
    "no-await-in-loop": "off",
    "no-return-assign": "off",
    "eqeqeq": "off"
  }
}