.side-bar-help-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  bottom: 50px;
}

.side-bar-help-center-container span {
  color: #d8d8d8;
  padding-top: 10px;
  cursor: pointer;
  font-family: "AvenirNextCyr", "san-serif", "arial";
  font-size: 12px;
  letter-spacing: 1.5px;
}

.side-bar-icons {
  width: 20px;
  height: 20px;
}

@media (max-height: 800px) {
  .side-bar-help-center-container {
    bottom: 15px;
    padding-top: 5px;
    position: static;
  }
}
