.popls-page-popl-card-image-container {
  display: flex;
  align-items: center;
  width: 150px;
  max-width: 150px;
  height: 100px;
  margin-left: 10px;
}
.popls-page-popl-card-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.popls-page-popl-card-content-container {
  padding: 20px;
}

.popls-page-popl-card-table {
  font-family: "AvenirNextCyr";
  font-size: 16px;
  color: #565956;
}

.popls-page-popl-card-tablecell {
  width: 100px;
}

.popls-page-popl-card-buttons-container-icons-container {
  display: flex;
  justify-content: space-evenly;
}
