/* @font-face {
  font-family: "AvenirNextCyr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/avenirnextcyr-medium.ttf") format("truetype");
} */
/* @font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/dmSans/DMSans-Regular.ttf") format("truetype");
} */
body * {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif, arial;
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

[draggable="true"] {
  cursor: move;
}

/* positions */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* display */
.flex {
  display: flex;
}

/* paddings */
.main-padding {
  padding: 24px 40px;
}

/* cursor */
.cursor-default {
  cursor: default;
}

/* paddings */
.pb-10 {
  padding-bottom: 10px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

/* margins */
.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-25 {
  margin-top: 25px;
}

/* width */
.full-w {
  width: 100%;
}

.full-h {
  height: 100vh;
}

.o-none {
  outline: none;
}

.datepicker {
  position: relative;
  border: 1px solid #e6e6e6;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  color: #aeaeae;
  cursor: pointer;
  border-radius: 10px;
}

.MuiFormControlLabel-label {
  min-width: 118px;
  text-align: center;
  padding: 3px 13px;
  border: 1px solid black;
  border-radius: 4px;
}

.custom-checkbox-root .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
}

.full-w > div {
  border-radius: 30px;
}

#legend1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#legend2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lineChart {
  position: absolute;
  display: flex;
  top: -30px;
  width: 100%;
  justify-content: center;
}

.chart-container {
  display: flex;
  height: 100%;
}

.chart-wrapper {
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.legend-item {
  padding-bottom: 10px;
  cursor: pointer;
}
.disable-legend {
  text-decoration: line-through;
}
div:nth-last-child().disable-legend {
  text-decoration: line-through;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.gif {
  background-image: url("./assets/circle_grow.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
